.email-signup-container .social-links li {
  padding-right: 0.3em; }

.email-signup-container .footer-container h3 {
  font-size: 12px; }

.email-signup-wrapper {
  padding: 10px;
  margin-bottom: 150px; }
  .email-signup-wrapper .required-indicator {
    font-size: 12px; }
  .email-signup-wrapper h3 {
    text-transform: uppercase; }
  .email-signup-wrapper .form-row {
    width: 31%;
    float: left;
    margin: 0 20px 10px 0;
    position: relative; }
    @media only screen and (min-width: 320px) and (max-width: 750px) {
      .email-signup-wrapper .form-row {
        width: 100%; } }
    .email-signup-wrapper .form-row:nth-child(3n) {
      margin: 0 0 10px 0; }
    .email-signup-wrapper .form-row span {
      text-transform: uppercase; }
    .email-signup-wrapper .form-row span.error,
    .email-signup-wrapper .form-row .error-message {
      bottom: -12px;
      font-size: 11px;
      left: 0;
      margin: 0;
      position: absolute;
      text-transform: none;
      border: 0 none;
      background: 0 none;
      width: auto; }
    .email-signup-wrapper .form-row .field-wrapper {
      position: relative;
      text-transform: uppercase; }
    .email-signup-wrapper .form-row .input-radio {
      margin: 10px 2% 10px 2%; }
    .email-signup-wrapper .form-row .input-select {
      border: 1px solid #aaa; }
  .email-signup-wrapper .full-width {
    width: 100%;
    float: left;
    margin: 20px 0; }
    .email-signup-wrapper .full-width .button {
      text-transform: uppercase; }
      @media only screen and (min-width: 320px) and (max-width: 750px) {
        .email-signup-wrapper .full-width .button {
          width: 100%; } }

#emarsys-newsletter-subscription button {
  background-color: #aaa;
  border: none;
  color: #fff;
  height: 31px;
  padding: 0;
  width: 31px; }

#emarsys-newsletter-subscription .input-text {
  width: 160px;
  float: left; }
  @media only screen and (min-width: 751px) and (max-width: 1023px) {
    #emarsys-newsletter-subscription .input-text {
      width: 120px; } }

.privacy-checkbox {
  float: left; }
  .privacy-checkbox.input-checkbox {
    margin: 0 1% 3% 0; }

.registration-form-wrapper {
  padding: 10px;
  min-height: 550px; }
  .registration-form-wrapper h6 {
    font-size: 11px; }

.show-confirmation-message {
  padding: 10px;
  box-sizing: border-box;
  min-height: 550px; }
  .show-confirmation-message h6 {
    font-size: 11px; }

.error-privacy {
  color: #990000; }
